# SPDX-FileCopyrightText: 2022-2025 Paul Colby <git@colby.id.au>
# SPDX-License-Identifier: MIT

name: Automatic Tests

on: [push, pull_request]

permissions: { }

jobs:
  test-gawk:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup macOS
        if: startsWith(matrix.os, 'macos')
        run: brew install gawk
      - name: Run tests
        run: ./test/test.sh
        shell: bash
    strategy: &strategy
      matrix:
        os:
          - macos-14
          - macos-15
          - macos-26
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-11-arm
          - windows-2022
          - windows-2025
      fail-fast: false

  test-gh-action:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup macOS
        if: startsWith(matrix.os, 'macos')
        run: brew install gawk
      - name: Setup Windows
        if: startsWith(matrix.os, 'windows')
        run: echo 'EXTRA_DIFF_ARGS=--strip-trailing-cr' >> "${GITHUB_ENV}"
        shell: bash

      - name: Reset step summary
        run: ': > "${GITHUB_STEP_SUMMARY}"'
        shell: bash
      - name: Run default action
        if: ${{ !startsWith(matrix.os, 'macos') }}
        uses: ./
        id: default
      - name: Check result
        if: ${{ !startsWith(matrix.os, 'macos') }}
        run: |
          read -a extraArgs -r <<< "${EXTRA_DIFF_ARGS}"
          diff "${extraArgs[@]}" --unified ./.github/workflows/expected/default.md "${SUMMARY_FILE}"
        shell: bash
        env:
          SUMMARY_FILE: ${{ steps.default.outputs.summary-file }}

      - name: Reset step summary
        run: ': > "${GITHUB_STEP_SUMMARY}"'
        shell: bash
      - name: Test path input
        uses: ./
        with:
          path: >-
            ./test/qtpokit-2554496971/test-results-linux-clang/test/unit/*.tap
            ./test/qtpokit-2554496971/test-results-linux-gcc/test/unit/*.tap
        id: scalar
      - name: Check result
        run: |
          read -a extraArgs -r <<< "${EXTRA_DIFF_ARGS}"
          diff "${extraArgs[@]}" --unified ./.github/workflows/expected/path.md "${SUMMARY_FILE}"
        shell: bash
        env:
          SUMMARY_FILE: ${{ steps.scalar.outputs.summary-file }}

      - name: Reset step summary
        run: ': > "${GITHUB_STEP_SUMMARY}"'
        shell: bash
      - name: Test block scalars with new lines
        uses: ./
        with:
          path: |
            ./test/qtpokit-2554496971/test-results-linux-clang/test/unit/*.tap
            ./test/qtpokit-2554496971/test-results-linux-gcc/test/unit/*.tap
        id: path
      - name: Check result
        run: |
          read -a extraArgs -r <<< "${EXTRA_DIFF_ARGS}"
          diff "${extraArgs[@]}" --unified ./.github/workflows/expected/path.md "${SUMMARY_FILE}"
        shell: bash
        env:
          SUMMARY_FILE: ${{ steps.path.outputs.summary-file }}

      - name: Reset step summary
        run: ': > "${GITHUB_STEP_SUMMARY}"'
        shell: bash
      - name: Test summary-file input
        uses: ./
        with:
          path: >-
            ./test/qtpokit-2554496971/test-results-linux-clang/test/unit/*.tap
            ./test/qtpokit-2554496971/test-results-linux-gcc/test/unit/*.tap
          summary-file: ${{ runner.temp }}/summary.md
      - name: Check result
        run: |
          read -a extraArgs -r <<< "${EXTRA_DIFF_ARGS}"
          diff "${extraArgs[@]}" --unified ./.github/workflows/expected/path.md "${RUNNER_TEMP}/summary.md"
        shell: bash
    strategy: *strategy
